// ---------------------------------------------------------===
// Typography
// ---------------------------------------------------------===

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  font-family: $headings-font-family;
  font-weight: 400;
  margin: 0 0 0.5em;
  color: $headings-color;
  letter-spacing: -0.05em;
  line-height: 1.3;
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: 1;

  @include media("<desktop") {
    font-size: 35px;
    line-height: 1.15;
  }
}

h2,
.h2 {
  font-size: $h2-font-size;
  line-height: 1.2;

  @include media("<widescreen") {
    font-size: 50px;
  }

  @include media("<desktop") {
    font-size: 40px;
    line-height: 1.15;
  }

  @include media("<tablet") {
    font-size: 35px;
    letter-spacing: -0.03em;
  }
}

h3,
.h3 {
  font-size: $h3-font-size;
  letter-spacing: -0.02em;

  @include media("<widescreen") {
    font-size: 30px;
  }

  @include media("<tablet") {
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: -0.03em;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;

  @include media("<desktop") {
    letter-spacing: -0.03em;
    font-size: 20px;
    line-height: 1.2;
  }
}

h5,
.h5 {
  font-size: $h5-font-size;

  @include media("<desktop") {
    font-size: 16px;
    letter-spacing: -0.03em;
    line-height: 1.4;
  }
}

h6,
.h6 {
  font-size: $h6-font-size;
  line-height: 1.4;

  @include media("<desktop") {
    font-size: 15px;
  }
}

p {
  margin: 0 0 0.8333em;
}

a {
  color: $base-link-color;
  text-decoration: none;

  &:hover,
  &:focus {
  }
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.font-thin {
  font-weight: 100;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

[class*="text-primary-link"] {
  @include fs(12px, 1.2, 0.05em, uppercase);
}

[class*="--bold"] {
  font-weight: 700;
}

[class*="--med"] {
  font-weight: 500;
}

[class*="--normal"] {
  font-weight: 400;
}

[class*="--thin"] {
  font-weight: 200;
}

[class*="text-secondary-link"] {
  @include fs(14px, 1.2, -0.05em, uppercase);
}

[class*="text-details"] {
  @extend %text-details;
}

[class*="text-body"] {
  @include fs(15px, 1.4, -0.05em);

  @include media("<tablet") {
    font-size: 16px;
    letter-spacing: -0.03em;
  }
}

[class*="text-body-lg"] {
  @include fs(18px, 1.4, -0.05em);

  @include media("<desktop") {
    @include fs(20px, 1.2, -0.03em);
  }
}

[class*="text-title"] {
  @include fs(25px, 1.3, -0.05em);

  @include media("<desktop") {
    font-size: 22px;
    letter-spacing: -0.03em;
  }
}

[class*="text-headline"] {
  @include fs(40px, 1.2, -0.05em);

  @include media("<widescreen") {
    font-size: 30px;
  }

  @include media("<tablet") {
    font-size: 25px;
  }
}

[class*="text-headline-sm"] {
  @include fs(30px, 1.3, -0.05em);
}
